<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC 
         "-//Hibernate/Hibernate Configuration DTD//EN"
         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>  
        <property name="connection.url">jdbc:mysql://localhost/ONLINESHOPPING?useSSL=false</property>  
        <property name="connection.username">root</property>  
        <property name="connection.password">password</property>  
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.ideas2it.onlineshopping.model.Role"/>
        <mapping class="com.ideas2it.onlineshopping.model.User"/>
        <mapping class="com.ideas2it.onlineshopping.model.Product"/>
        <mapping class="com.ideas2it.onlineshopping.model.Cart"/>
        <mapping class="com.ideas2it.onlineshopping.model.Order"/>
        <mapping class="com.ideas2it.onlineshopping.model.OrderDetail"/>
    </session-factory>  
  
</hibernate-configuration> 
